<div class="row">
  <div class="h2 col-md-12">Leagues</div>
</div>

<div class="row">
  <div class="paginate">
    <%= paginate @leagues %>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>League URL</th>
          <th>Last active</th>
        </tr>
      </thead>

      <!-- Set offset for counting matches with pagination -->
      <% offset = (params[:page].to_i * ITEMS_PER_PAGE) - ITEMS_PER_PAGE %>
      <% offset = 0 if offset < 0%>

      <% @leagues.each_with_index do |l, index| %>
        <tr>
          <td><%= index + offset + 1%></td>
          <td><%= truncate(l.name, length: 45) %></td>
          <td><%= link_to truncate("#{l.url}", length: 45), l.url%></td>
          <td>
            <% if l.last_active %>
              <%= l.last_active.strftime("%m/%d/%Y") %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="paginate">
    <%= paginate @leagues %>
  </div>
</div>
