<div class="row">
  <div class="h2 col-md-12">Live Games</div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">

    <% if @livematchlist %>

        <table class="table table-striped">
          <thead>
            <tr>
              <th>Match ID</th>
              <th>Spectators</th>
              <th>League</th>
              <th>Series Type</th>
              <th>Radiant</th>
              <th>Kills</th>
              <th>Dire</th>
              <th>Game Time</th>
            </tr>
          </thead>
          <% @livematchlist.livematches.each do |match| %>
            
            <!-- Set up teams and other variables -->
            <% radiant = match.liveteams.find("Radiant") %>
            <% dire = match.liveteams.find("Dire") %>
            <% league = League.find(match.league_id.to_i) %>

            <tr>
              <td><%= link_to match.id, live_match_path(match.id) %></td>
              <td><%= match.spectators %></td>
              <td>
                <% if league %>
                  <%= link_to league.name, league.url %>
                <% else %>
                  <%= "Unknown league" %>
                <% end %>
              </td>
              <td>
                <% if match.series_type == 0 %>
                  BO1
                <% elsif match.series_type == 1 %>
                  BO3
                <% else %>
                  <%= match.series_type %>
                <% end %>
              </td>
              <% if radiant && dire %>
                <td><%= radiant.name %></td>
                <td><%= radiant.kills %> - <%= dire.kills %></td>
                <td><%= dire.name %></td>
              <% else %>
                <td>No Data</td>
                <td>0 - 0</td>
                <td>No Data</td>
              <% end %>
              <td>
                  <% minutes = (match.duration.to_i / 60) %>
                  <% seconds = (match.duration.to_i % 60) %>
                  <%= "#{format('%02d', minutes)}:#{format('%02d', seconds)}" %>
              </td>
            </tr>
          <% end %>
        </table>

      <% end %>


    </div>
  </div>

</div>

<div class="row">
  <div class="h5 col-md-12"><%= @last_updated_string %></div>
</div>

<!-- <script>
  window.onload = function() {
    if (<%= @pagerefresh %>) {
      setTimeout(reload, 3000)
    }
  }
  function reload() {
    window.location.reload()
  }
</script> -->
