<h1>Settings</h1>

<div>
  <% if @user.steam_id %>
    Linked Steam Account:<br>
    <%= image_tag(@user.steam_pic) %><br>
    Nickname: <%= @user.steam_nickname %><br>
    Steam ID: <%= @user.steam_id %><br>

    <%= link_to "Unlink this Steam account", unlink_steam_path %>

  <% else %>
    <%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %>
  <% end %>
</div>
<div>
  <%= render partial: "form" %>
</div>
<div>
  <%= link_to "Delete my account", @user, method: :delete %>
</div>
