
<div class="row">
  <div>
    <%= render partial: "form" %>
  </div>
</div>

<hr>

<div class="row">
  <% if @user.steam_id %>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Linked Steam Account:</label>
        <div class="col-sm-6">
          <%= image_tag(@user.steam_pic) %><br>
          <%= @user.steam_nickname %><br>
          Steam ID: <%= @user.steam_id %><br>
        </div>
        
        <div class="col-sm-offset-2 col-sm-6">
          <%= link_to "Unlink this Steam account", unlink_steam_path, class: "btn btn-warning" %>
        </div>
      </div>
    </div>

  <% else %>
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-2 control-label">Link your Steam account:</label>
        <div class="col-sm-6">
          <%= link_to image_tag("http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_large_noborder.png"), '/auth/steam' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="form-horizontal">
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= link_to "Resync my match data", matches_path(reload: true), class: "btn btn-info" %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <%= form_for @user, method: "delete", html: {class: "form-horizontal"} do |f| %>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-6">
        <%= f.submit "Delete my account", method: :delete, class: "btn btn-danger", data: {confirm: "This will permanently delete your account. Are you sure?"} %>
      </div>
    </div>
  <% end %>
</div>
