
<div class="row">
  <div class="col-md-12">
    <div class="h2"><%= current_user.steam_nickname %></div>
  </div>
</div>

<div class="row">
  <div class="col-sm-3">
  </div>
  <div class="col-sm-6">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Match ID</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Result</th>
          </tr>
        </thead>

        <% @matches.each do |match| %>
          <tr>

          <% if match.error  %>
            <td colspan="4"><%= link_to match.error, match_path(match.error) %> is not in the database yet, but it's in the download queue!</td>
          <% else %>
              <!-- figure out if player won the game or not -->
              <% player = match.players.find(current_user.steam_id_32.to_i) %>
              <% if player %>
                <% side = player.player_slot < 5 ? true : false %>
                <% won = side == match.radiant_win ? true : false %>
              <% else %>
                <% won = "Error" %>
              <% end %>

            <td><%= link_to match.id, match_path(match.id) %></td>
            <td><%= Time.at(match.start_time).strftime("%m/%d/%Y %H:%M") %></td>
            <td>
              <% minutes = (match.duration.to_i / 60) %>
              <% seconds = (match.duration.to_i % 60) %>
              <%= "#{format('%02d', minutes)}:#{format('%02d', seconds)}" %>
            </td>
            <% if won == "Error" %>
              <td>Error</td>
            <% else %>
              <td class="<%= won ? "match-victory" : "match-defeat" %>">
                <%= won ? "Victory" : "Defeat" %>
              </td>
            <% end %>
          <% end %>

          </tr>
        <% end %>

      </table>
    </div>
  </div>
  <div class="col-sm-3">
  </div>
</div>


