
<div class="row">
  <div class="h2 col-md-12">MY DOTO</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Match ID</th>
            <th>Start Time</th>
            <th>Duration</th>
            <th>Winner</th>
          </tr>
        </thead>
        <% @matches.each do |match| %>
          <tr>
          <% if match.error %>
            <td><%= match.error %></td>
          <% else %>
            <td><%= link_to match.id, match_path(match.id) %></td>
            <td><%= match.start_time %></td>
            <td><%= match.duration%></td>
            <td><%= match.radiant_win ? "Radiant Victory" : "Dire Victory" %></td>
          <% end %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>

