<div class="row">
  <div class="h2 col-md-12">Ticketed players</div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Current nickname</th>
          <th>Current team</th>
          <th>Tier</th>
          <th>Last active</th>
          <th>Last active league</th>
        </tr>
      </thead>
      <% @proplayers.each do |p| %>
        <tr>
          <td><%= link_to truncate(p.aliases[-1], length: 20), proplayer_path(p.id) %></td>
          <td><%= truncate(p.teams[-1]) %></td>
          <td><%= p.tier %></td>
          <td><%= p.last_active.strftime("%m/%d/%Y") if p.last_active %></td>
          <td><%= p.last_league %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
