<div class="row table-heading">
  <div class="h2 col-md-12">Ticketed players</div>
  <div class="h4">This list is being built day by day as more ticketed games occur. Currently tracking <%= @total_tracked_players %> ticketed players.</div>
  <div class="h4">
    <% if @filter %>
      <%= link_to "Show All", proplayers_path %>
    <% else %>
      <%= link_to "Filter those I've encountered", proplayers_path(filter: true) %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="paginate">
    <%= paginate @proplayers %>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Current nickname</th>
          <th>Current team</th>
          <th>Tier</th>
          <th>Last active</th>
          <th>Recent league</th>
        </tr>
      </thead>

      <!-- Set offset for counting matches with pagination -->
      <% offset = (params[:page].to_i * ITEMS_PER_PAGE) - ITEMS_PER_PAGE %>
      <% offset = 0 if offset < 0%>

      <% @proplayers.each_with_index do |p, index| %>
        <tr>
          <td><%= index + offset + 1 %></td>
          <td><%= link_to truncate(p.aliases[-1], length: 20), proplayer_path(p.id) %></td>
          <td><%= truncate(p.teams[-1], length: 20) %></td>
          <td><%= p.tier %></td>
          <td><%= p.last_active.strftime("%m/%d/%Y") if p.last_active %></td>
          <td><%= truncate(p.last_league, length: 20) %></td>
        </tr>
      <% end %>

    </table>
  </div>
  <div class="col-md-2"></div>
</div>
<div class="row">
  <div class="paginate">
    <%= paginate @proplayers %>
  </div>
</div>
