<div class="h2">
  About
</div>

<div class="row">
  <div class="col-sm-3"></div>

  <div class="col-sm-6">
    <p>
      This is a project made for General Assembly Web Development Immersive LA and born out of my love for DotA. The goal during development was to familiarize myself with Rails, the asset pipeline, MongoDB, restful routes, and Web APIs. This project utilizes <%= link_to "Rails 4.2.0", "https://github.com/rails/rails" %>, <%= link_to "MongoDB", "http://www.mongodb.org/" %> with <%= link_to "Mongoid", "http://mongoid.org/en/mongoid/index.html" %>, <%= link_to "bcrypt", "https://github.com/codahale/bcrypt-ruby" %> and <%= link_to "OAuth", "http://oauth.net/" %> user authentication, <%= link_to "Bootstrap", "http://getbootstrap.com/" %>, <%= link_to "Heroku", "https://dashboard.heroku.com/" %>, the <%= link_to "Steam Web API", "http://steamcommunity.com/dev" %>, and <%= link_to "Sucker Punch", "https://github.com/brandonhilkert/sucker_punch" %> for background tasks on a single thread.
    </p>
  </div>

  <div class="col-sm-3"></div>
</div>